.city_section {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    gap: 20px;
    top: 50%;
    left: 50%; */
}

.city_section .cloud img {
width: 100px;
}

.city_section span {
    font-size: 30px !important;
    font-weight: 800;
}